In [37]:

from  tiny.util import *

In [45]:
tmp = get_start_closed('full')

In [ ]:
tmp = extend_cols(tmp)
tmp, tmp_new = split_days(tmp)

tmp.head()

In [43]:
tmp, tmp_new = split_days(tmp)
tmp.head()

/Users/lali2/dev/python/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

,device,package,start_t,close_t,start,close,duration,type,sub_type,brand,phone_type
0,0cc76d7e2d857f8e8454760665739c6b,28f136800b5737d0a733a478589785de,1357044132297,1488325963917,2017-01-01,2017-02-28 23:52:43.917,58.994953,NaN,NaN,samsung,GT-N5100
1,8981dc2e63751afe8115bc8df091535f,e4fb97b00004709730e13c588d457350,315658632382,1488325939329,2017-01-01,2017-02-28 23:52:19.329,58.994668,NaN,NaN,Xiaomi,HM 2A
2,c0e1d1fe361aa812d9a90671276edb7b,a71d09dc85cd4b1d70dd0f69de667969,1068363393795,1488412303862,2017-01-02,2017-03-01 23:51:43.862,58.994258,NaN,NaN,Coolpad,Coolpad 8675-A
3,0cc76d7e2d857f8e8454760665739c6b,6f1e679bf88e8ec96cbb6b10d3de4bc6,1356998704451,1489276038634,2017-01-12,2017-03-11 23:47:18.634,58.991188,NaN,NaN,samsung,GT-N5100
4,8c3bccaaff021e89daaad3f1ffa0b83d,4b58ecb20fe0d5e7a823b7d95911166d,1262304170312,1488671065199,2017-01-05,2017-03-04 23:44:25.199,58.989181,NaN,NaN,Huawei,HUAWEI G700-U00

In [41]:
trainn_label = get_train_label()
trainn_label.head()

,device,gender,age,1-0,1-1,1-2,1-3,1-4,1-5,1-6,...,2-1,2-2,2-3,2-4,2-5,2-6,2-7,2-8,2-9,2-10
0,bd86d59afa24a839ce6029d718accb19,1,3,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,e7d158c9a8262a35c9cc630a15a9103e,1,5,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,97abdc3828448b5acc7428dd307bc635,2,5,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,e4dbdbf07c9cff03d79f4872e65742b4,1,4,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6bd4537b2970c5c6ab765c1860b88aa5,1,3,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0